rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Barcha tizimga kiritgan foydalanuvchilar (O'quvchi, O'qituvchi, Admin) xavfsiz tarzda o'qish/yozish imkoniga ega
      allow read, write: if request.auth != null;
    }
  }
}
